@font-face {
    font-family: black;
    src: url('../assets/fonts/black.ttf');
}

@font-face {
    font-family: bold;
    src: url('../assets/fonts/bold.ttf');
}

@font-face {
    font-family: light;
    src: url('../assets/fonts/light.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    font-family: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pop 0.5s ease-in-out;
    position: relative;
    overflow-y: hidden;
    background-color: transparent;
}

.card {
    width: 600px;
    border-radius: 10px;
    height: 80%;
    max-height: 80%;
    padding: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #3C3D37;
    justify-content: start;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);

}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.card label {
    font-size: 12pt;
    font-family: bold;
}

.card input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 2%;
    border-radius: 5px;
    border: none;
    font-size: 10pt;
    background-color: rgb(234, 233, 233);
}

.card input:disabled {
    background-color: rgb(201, 200, 200);
}

.card h1 {
    font-family: bold;
    font-size: 15pt;
    color: #6EC207;
}

.card button {
    width: 100%;
    font-family: bold;
    font-size: 10pt;
    height: 40px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:#6EC207;
    user-select: none;
}

.card button:hover {
    opacity: 0.5;
}

.imageDiv {
    border: 2px dashed #6EC207;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6EC207;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#profilePic {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#changePass {
  color: #6EC207;
  cursor: pointer;
  margin-top: 10px;
}

#changePass:hover {
  text-decoration: underline;
}

.infoBox {
  background-color: #8de4224f;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  font-size: .7rem;
  animation: pop 0.5s ease-in-out;
}


@media (max-width: 690px) {
  .card {
    width: 80%;
    max-width: none;
    min-width: none;
    position: relative;
  }

}




@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
