@font-face {
    font-family: black;
    src: url('../assets/fonts/black.ttf');
}

@font-face {
    font-family: bold;
    src: url('../assets/fonts/bold.ttf');
}

@font-face {
    font-family: light;
    src: url('../assets/fonts/light.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    font-family: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 0.5s ease-in-out;
    position: relative;
    background-color: #f2f6ee;
}

#notifDiv {
    position: absolute;
    top: 5%;
    right: 5%;
}

form {
    width: 100%;
    padding: 0;
}

#logo {
    width: 150px;
    height: 150px;
    animation: pop 0.5s ease-in;
}

.card {
    width: 60%;
    border-radius: 10px;
    overflow-y: auto;
    height: 80%;
    max-height: 80%;
    padding: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3C3D37;
    justify-content: start;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);

}

.body {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

#title {
    font-size: 15pt;
    font-family: bold;
}

.card label {
    font-size: 10pt;
    font-family: bold;
}

.card h1 {
    font-family: bold;
    font-size: 20pt;
    margin-bottom: 30px;
}

.card p {
    margin: 0;
    font-size: 10pt;
}

#subtitle {
    font-size: 12pt;
    margin-bottom: 10px;
    font-style: italic;
}

.card select {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(234, 233, 233);
}

.card button {
    font-family: bold;
    font-size: 12pt;
    height: 40px;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:#6EC207;
    user-select: none;
}

.card button:hover {
    opacity: 0.5;
}

.card button:disabled {
    background-color: gray;
}

.card input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 2%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 10pt;
    background-color: rgb(234, 233, 233);
}

.card input:disabled {
    background-color: rgb(201, 200, 200);
}

.stepDiv {
    width: 100%;
    display: flex;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 20px;
}

.stepCard {
    background-color: #6EC207;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    font-size: 10pt;
    flex-grow: 1;
    margin-bottom: 10px;
}

.cardUpload {
    background-color: rgb(234, 233, 233);
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.cardUpload input { 
    margin: 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardUpload p { 
    margin: 0;
    font-family: bold;
}

#checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#passwordInput {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(234, 233, 233);
    position: relative;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

#passwordInput input {
    padding-left: 2%;
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
    background-color: none
}

#showIcon {
    position: absolute;
    right: 2%;
}

#link:hover {
    color: #6EC207;
    cursor: pointer;
}


.imgDiv {
    border: 2px dashed #6EC207;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6EC207;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.imgDiv img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#submittedDiv {
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#submittedDiv h1 {
    font-size: 20pt;
    margin: 0;
}


@media (max-width: 425px) {
    .card {
        width: 90%;
        padding: 20px;
    }
}



@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
