@font-face {
    font-family: black;
    src: url('../assets/fonts/black.ttf');
}

@font-face {
    font-family: bold;
    src: url('../assets/fonts/bold.ttf');
}

@font-face {
    font-family: light;
    src: url('../assets/fonts/light.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/regular.ttf');
}

.container {
    width: 100%;
    height: 100vh;
    font-family: normal;
    display: flex;
    background-color: #f2f6ee;
    animation: fade 0.5s ease-in-out;
    position: relative;
}

.sideBar {
    width: 300px;
    background-color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: slideRight 0.5s ease-in-out;
}

.sideBar .head {
    max-height: 70px;
    height: 70px;
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);
}

.head img {
    width: 40px;
    height: 40px;
}

.head h1 {
    font-family: bold;
    font-size: 6pt;
    margin: 0;
}

.head p {
    margin: 0;
}

.sideBar .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);
}

.profile h1 {
    font-family: bold;
    font-size: 10pt;
    margin: 0; 
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #6EC207;
}

.profile button {
    background-color: #6EC207;
    border: none;
    border-radius: 5px;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: 10pt;
    font-family: normal;
}

.profile button:hover {
    opacity: 0.5;
}

.menus {
    padding: 5%;
}

.btnMenu {
    border: 2px solid #6EC207;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    color: #6EC207;
    font-family: bold;
    background-color: white;
    margin-bottom: 10px;
}

.btnMenuActive {
    border: none;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    color: white;
    font-family: bold;
    background-color: #6EC207;
    margin-bottom: 10px;
}

.btnMenu:hover{
    background-color: #6EC207;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .navigation {
    height: 75px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: #6EC207;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.content .navigation #btnLogout {
    position: absolute;
    right: 10px;
}

.display {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}


.manageAcctDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
}




@media (max-width: 768px) {
    .sideBar {
        position: fixed;
    }
}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
