@font-face {
    font-family: black;
    src: url('../assets/fonts/black.ttf');
}

@font-face {
    font-family: bold;
    src: url('../assets/fonts/bold.ttf');
}

@font-face {
    font-family: light;
    src: url('../assets/fonts/light.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/regular.ttf');
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: normal;
    display: flex;
    flex-direction: column;
    background-color: #f2f6ee;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fade 0.5s ease-in-out;
}

.notification {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}


.btn {
    background-color: #6EC207;
    color: white;
    border: none;
    font-family: bold;
    font-size: 10pt;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.btn:hover {
    opacity: 0.5;
}

.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-family: bold;
    font-size: 40pt;
}

.table {
    width: 100%;
    font-family: normal;
    margin-top: 2%;
}

#profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #6EC207;
}

.modal {
    background-color: white;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    animation: pop 0.5s ease-in-out;
}

.modal h1 {
    color: #6EC207;
    font-size: 15pt;
}

.modal .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal select {
    background-color: rgb(234, 233, 233);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    height: 40px;
}

#statusDiv {
    background-color: #6EC207;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 5px;
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
}

.body {
    width: auto;
    height: 80%;
    display: flex;
    margin-top: 2%;
    overflow-y: auto;
    position: relative;
}

.body p {
    word-break: break-all;
}
  

.body label {
    font-size: 10pt;
    font-family: bold;
}

.body h2 {
    font-size: 10pt;
    font-family: bold;
    margin: 0;
}


.body input {
    width: 100%;
    background-color: rgb(234, 233, 233);
    border: none;
    border-radius: 5px;
    height: 40px;
    outline: none;
    padding-left: 2%;
}

.body textarea {
    width: 100%;
    background-color: rgb(234, 233, 233);
    border: none;
    border-radius: 5px;
    height: 200px;
    min-height: 200px;
    max-height: 500px;
    outline: none;
    padding: 2%;
}

.body button {
    background-color: #6EC207;
    color: white;
    border: none;
    font-family: bold;
    font-size: 10pt;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.body button:disabled {
    background-color: gray;
}

.cardStatic {
    background-color: rgba(128, 128, 128, 0.201);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    font-family: bold;
}

.section {
    display: flex;
    flex-direction: column;
}

.section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #6EC207;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.section .top {
    width: auto;
}

.top h1 {
    font-size: 12pt;
}

.section .bot {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.bot h2 {
    font-family: bold;
    font-size: 10pt;
    margin: 0;
}

.bot p {
    font-size: 9pt;
    margin: 0;
}

.botMenu {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.botMenu h2 {
    font-size: 15pt;
    font-family: bold;
    color: #6EC207;
}

.botMenu button {
    width: 50%;
    border: none;
    padding: 1%;
    font-size: 10pt;
    background-color: #068ce5;
    color: white;
    font-family: bold;
    border-radius: 5px;
} 

.botMenu button:hover, .body button:hover {
    opacity: 0.5;
}

.bot {
    width: 100%;
   
}

.fileCard {
    background-color: #6EC207;
    height: 40px;
    width: 70%;    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.menuHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuHead h1 {
    font-size: 2rem;
}

.menuHead button {
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    height: 40px;
    background-color: #6EC207;
    color: white;
    border-radius: 5px;
    max-width: 250px;
}

.menuHead button:hover {
    opacity: 0.5;
}

@media (max-width: 425px) {

    .modal {
        width: 90%;
        padding: 30px;
    }

    .card h1 {
        font-size: 15pt;
    }

    form {
        width: 80%;
    }

    form .card {
        width: 80%;
    }

    form p {
        font-size: 10pt;
    }
}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
